.grid-aside{
    padding: $paddingGeneral;
    grid-area: aside
}
        
.p-item{
    display: flex;
    width: 440px;
    font-size: 20px;
    text-align: left;
}
        
.nav{
    display: flex;
    flex-direction: column;
    flex:2 1 auto;
    justify-content: space-between;
            
}

.animated{
    font-size: 11px;
    text-align: right;
    letter-spacing: 2px; 
        
}
    
.img-contact{
    width: 400px;
}
    