/*Main */
.grid-main{
    padding: $paddingGeneral;
    grid-area: main;
}
.p-main{
    text-align: left;
}

.img:hover {
    filter: opacity(.5);
    transition:all .5s ease-in-out;
    color: #080808;
}

.p-about{
    width: 800px;
    text-align: center;
    font-size: 50px;
}

    
.parrafoIndex{
    padding-top: 30px;
}    